*, *:before, *:after {
    box-sizing: border-box;
}

input[type=text]{
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 255, 100, 0.1);
}

input[type=password]{
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 255, 100, 0.1);
}
input[type=date]{
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 255, 100, 0.1);
}

input {
    display: block;
    width:100%;
    margin: 0 auto;
}

button {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;
}
.form-width-outer{
    width: 35%;
    margin: 0 auto;

}
.form-width-inner{
    width: 60%;
    margin: 0 auto;
    border: 1px solid #00cc22;
    border-radius: 10px;
}
